@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PixelCowboy';
  src: url('../public/fonts/SMB.ttf');
}

@font-face {
  font-family: 'Card';
  src: url('../public/fonts/slkscr.ttf');
}

body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  margin: 0;
  image-rendering: pixelated;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type='range'] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type='range']::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type='range']::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  height: 30px;
  width: 15px;
  border: none;
  border-radius: 0px;
  background-image: url('../public/assets/slider.png');
  background-size: cover;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  height: 30px;
  width: 15px;
  border: none;
  border-radius: 0px;
  background-image: url('../public/assets/slider.png');
  background-size: 100% 100%;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  border-radius: 0px;
  background-image: url('../public/assets/slider-bar.png');
  background-size: 100% 100%;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  border-radius: 0px;
  background-image: url('../public/assets/slider-bar.png');
  background-size: 100% 100%;
}
