@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PixelCowboy';
  src: url('../public/fonts/SMB.ttf');
}

@font-face {
  font-family: 'Card';
  src: url('../public/fonts/slkscr.ttf');
}

body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  margin: 0;
  image-rendering: pixelated;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
